# things you don't want in git
.idea/
.vscode/
.DS_Store
.*.swp
*.log
node_modules
*.env
# Local stuff
*.local.yaml

# python vitural env
.venv/

# anything sensitive
*-credentials.yaml

# Devcontainer specific
docker-compose-dev.override.yml

# Env setup for devcontainers
devcontainer.env

# builds and crashes
core
application.tgz
